
.container {
    position: absolute;
    bottom: 0;


}

#background {
    display: flex;
    justify-content: space-around;
    background: url("img/triple.png") no-repeat center center/cover;
    padding: 50px;
    padding-top: 100px;
 

}

#background div:nth-child(1) {
    /* width: 150px; */
    width: 25%;
    height: 400px;
    background: white;
   text-align: center;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    box-shadow: 1px 2px 2px 2px;

   
}

#background div:nth-child(2) {
    /* width: 150px; */
    width: 25%;
    height: 400px;
    background: white;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 2px 2px 2px;
}


#background div:nth-child(3) {
    /* width: 150px; */
    width: 25%;
    height: 400px;
    background: white;
    text-align: center;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    box-shadow: 1px 2px 2px 2px
}

p {
    font-family:  'Roboto Slab', serif;
    border: black;
}


    







hr {
   
    height: 10px;
    border: none;
    background-color: red;
    

}







.footer {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    bottom: 0;
    text-align: center;
    background-color: rgb(221,221,221);

}



